

.button {
    -fx-font-weight: bold;
}
.title {
    -fx-font: normal 20 Tahoma;
    -fx-alignment: center;
    -fx-text-alignment: center;
}
.active {
    -fx-text-alignment: center;
    -fx-font: bold 16 Tahoma;
}

#playControls FontIcon {
    -fx-font: normal 36 Tahoma;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}

#InfoLabel {
    -fx-font: normal 18 Tahoma;
    -fx-alignment: center;
    -fx-text-alignment: center;
}