

.button {
    -fx-font-weight: bold;
}
.title {
    -fx-font: normal 20 Tahoma;
    -fx-alignment: center;
    -fx-text-alignment: center;
}
.active {
    -fx-text-alignment: center;
    -fx-font: bold 16 Tahoma;
}

#playControls FontIcon {
    -fx-font: normal 28 Tahoma;
   -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-margin: 5px;

}