.button {
    -fx-font-weight: bold;
}
.title {
    -fx-font: normal 20 Tahoma;
    -fx-alignment: center;
    -fx-text-alignment: center;
}
.active {
    -fx-text-alignment: center;
    -fx-font: bold 16 Tahoma;
}